Source: kde-style-skulpture
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Build-Depends: debhelper (>= 7), cmake (>= 2.6.2),
 libqt4-dev (>= 4.4.0~), kde-workspace-dev (>= 4:4.10.2), pkg-kde-tools
Standards-Version: 3.8.0
Homepage: http://skulpture.maxiom.de

Package: kde-style-skulpture
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: kwin-style-skulpture
Description: Widget style for Qt4 and KDE 4
 Skulpture is a window decoration and widget style for Qt4 and KDE 4 that
 features classical, three-dimensional artwork, along with other features not
 found in other styles.
 .
 This package contains the Qt4 and KDE 4 widget style of Skulpture. The
 corresponding KDE 4 widget style is packaged separately in
 kwin-style-skulpture.

Package: kwin-style-skulpture
Architecture: any
Depends: ${shlibs:Depends}, kde-style-skulpture
Description: Window decoration for KDE 4
 Skulpture is a window decoration and widget style for Qt4 and KDE 4 that 
 features classical, three-dimensional artwork, along with other features not 
 found in other styles.
 .
 This package contains the KDE 4 window decoration and color themes of
 Skulpture which allows customization via the KDE 4 System Settings. The
 corresponding Qt4 and KDE 4 widget style is packaged separately in
 kde-style-skulpture.
